<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>TomcatWebProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloSer</display-name>
    <servlet-name>HelloSer</servlet-name>
    <servlet-class>MyServlet.HelloSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloSer</servlet-name>
    <url-pattern>/HelloSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCheck</display-name>
    <servlet-name>RegisterCheck</servlet-name>
    <servlet-class>RegisterCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCheck</servlet-name>
    <url-pattern>/RegisterCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicAdd</display-name>
    <servlet-name>TopicAdd</servlet-name>
    <servlet-class>TopicAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicAdd</servlet-name>
    <url-pattern>/TopicAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyAdd</display-name>
    <servlet-name>ReplyAdd</servlet-name>
    <servlet-class>ReplyAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyAdd</servlet-name>
    <url-pattern>/ReplyAdd</url-pattern>
  </servlet-mapping>
</web-app>